@import "http://fonts.googleapis.com/css?family=Open+Sans:400,500italic,700,400";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic,cyrillic-ext);

body {
	font-size: 16px;
  font-family:'Open Sans',sans-serif;
  color: #212121;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-collapse.in {
	z-index: 10000;
}

/* Header */
.header {
	height: 94px;
}

.navbar {
	background-color: white;
	border: none;
}

	.logo {
		padding-top: 20px;
		padding-bottom: 20px
	}

		.contacts li {
			padding-top: 29px;
			padding-bottom: 29px;
		}

		.textitem {
			padding-left: 15px;
			padding-right: 15px;
		}

		.address {
			font-weight: lighter;
			color: #727272
		}

		.phone {
			font-weight: bold;
			color: #8BC34A
		}

		.iconitem {
			display: inline-block !important;
			margin-top: -14px;
		}

		.iconitem a {
			color: #727272;
			font-weight: lighter;
		}

/* Hero Unit */
.firstoffer {
	min-height: 500px;
	background: url(../i/bg-visa-covered.jpg) #f5f5f5 no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}

.pattern-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../i/pattern.png') repeat center center fixed;
  z-index: 0;
}

H1 {
	text-shadow: 1px 1px 4px white;
	font-size: 42px;
	padding-bottom: 15px;
	color: #689F38;
}

H2 {
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}

H3 {
	color: #727272;
}

.firstoffer .panel {
	border-radius: 3px;
	border:none;
}

.whatwedo {
	list-style: none;
	color: white;
	font-size: 20px;
	padding-left: 10px;
}

.whatwedo li {
	line-height: 35px;
}

.whatwedo span {
	display: inline;
	background: #8BC34A;
	box-shadow: 10px 0 0 #8BC34A, -10px 0 0 #8BC34A;
	text-shadow: 0px 0px 1px gray;
}

/*
.whatwedo span:before {
	content: "✓ ";
	-webkit-font-smoothing: antialiased;
}
*/

.contactform {
	padding-top: 20px;
}

.contactform input {
	background: #eee;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 3px;
	color: #888;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box /* Opera/IE 8+ */;
}

.subscribe_btn {
	background: #e82b68;
  padding: 30px 30px 5px 15px;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  position: relative;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}

.subscribe_btn:hover {
	background: #c42358;
	color: #fff;
	padding-top: 50px;
	margin: 0;
	padding: 10px;
}

.form_footnote {
	color: #b6b6b6;
	font-size: 13px;
	text-align: left;
	padding: 20px 20px 0px;
}

/* #3 Our Work In Numbers */

.in_numbers {
	background: #eff3f6;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 70px;
	border-bottom: 3px solid #dfe6ec;
}

.numbers {
	font-size: 36px;
	font-weight: 700;
	color: #689F38;
	display: inline-block;
	position: relative;
}
.statistics {
	font-size: 16px;
	  color: #727272;
	  display: inline-block;
	  position: relative;
	  width: 55%;
	  padding-left: 10px;
	  text-align: left;
}

/* #4 Reasons */
.reasons {
	position: relative;
	text-align: center;
}
.reasons .row {
	padding-bottom: 40px;
}
.reason_icon {
	color: #689F38;
	font-size: 100px;
}
.reason_text h4 {
	font-weight: 500;
	font-size: 22px;
}
.reason_text p {
	color: #727272;
}