@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,500italic,700,400';
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic,cyrillic-ext);

body
{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;

    color: #212121;
}

h1,
h2,
h3,
h4,
h5
{
    font-family: 'Open Sans Condensed', sans-serif;
}

/* #1 Header */
.header
{
    /*height: 94px;*/
}

.navbar
{
    border: none;
    background-color: white;
    z-index: 10;
    position: relative;
}

.navbar-brand {
    padding-left: 0px !important;
}

.logo
{
/*    padding-top: 10px;
    padding-bottom: 10px;
    width: 295px;*/
}

.contacts li
{
    padding-top: 50px;
    /*padding-bottom: 29px;*/
}

.textitem
{
    padding-right: 15px;
    padding-left: 15px;
}

.address
{
    font-weight: lighter;

    color: #727272;
}

.phone
{
    font-weight: bold;

    color: #00BCD4;
    font-size: 24px;
    line-height: 20px;
}

.iconitem
{
    display: inline-block !important;

    margin-top: -14px;
}

.iconitem a
{
    font-weight: lighter;

    color: #727272;
}

/* Hero Unit */
.firstoffer
{
    min-height: 500px;
    padding: 50px 0;

    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ), url('../i/bg-visa-covered.jpg') fixed no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

h1
{
    font-size: 48px;

    padding-bottom: 15px;

    /*color: #00BCD4;
    text-shadow: 1px 1px 1px white;
*/
    color: #e82b68;
}

h2
{
    padding-top: 10px;
    padding-bottom: 20px;

    text-align: center;
}

h3
{
    color: #727272;
}

h4
{
    font-size: 22px;
}

.firstoffer .panel
{
    border: none;
    border-radius: 3px;
}

.flags
{
    min-height: 500px;
}

#owl-flags .item {
    padding: 50px 0;
    padding-right: 30px;
    background-size: auto;
    
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
    min-width: 360px;

}

.country {
    margin: 15px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
}



.whatwedo
{
    font-size: 20px;

    padding-left: 10px;

    list-style: none;

    color: white;
}

.whatwedo li
{
    line-height: 35px;
}

.whatwedo span
{
    display: inline;

    /*background: #00BCD4;*/
    /*box-shadow: 10px 0 0 #00BCD4, -10px 0 0 #00BCD4;*/
    text-shadow: 0 0 1px gray;
}

.whatwedo .label {
    font-weight: 100;
}
.whatwedo sup {
    color: #e82b68;
    font-style: italic;
}

/*
.whatwedo span:before {
	content: "✓ ";
	-webkit-font-smoothing: antialiased;
}
*/

.contactform
{
    padding-top: 20px;
}

.contactform input, .contactform select
{
    font-size: 16px;
    font-weight: 400;

    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box /* Opera/IE 8+ */;
    width: 100%;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;

    color: #888;
    border-radius: 3px;
    background: #eee;
}

textarea
{
    background: #eee !important;
}

.subscribe_btn
{
    font-size: 16px;
    font-weight: bold;

    position: relative;

    width: 100%;
    height: 48px;
    margin: 0;
    margin-top: 15px;
    padding: 30px 30px 5px 15px;
    padding: 10px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background: #e82b68;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.subscribe_btn:hover
{
    color: #fff;
    background: #c42358;
}

.schedule {
	margin-top: 25px;
	color: #727272;
}

.form_footnote
{
    font-size: 14px;

    text-align: left;

    color: #b6b6b6;
}

/* #3 Our Work In Numbers */

.in_numbers
{
    padding-bottom: 60px;

    border-bottom: 3px solid #dfe6ec;
    background: #eff3f6;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.numbers
{
    font-size: 36px;
    font-weight: 700;

    position: relative;

    display: inline-block;

    color: #00BCD4;
}
.statistics
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    width: 55%;
    padding-left: 10px;

    text-align: left;

    color: #727272;
}

/* #4 Reasons */
.reasons
{
    position: relative;

    text-align: center;
}
.reasons .row
{
    padding-bottom: 40px;
}
.reason_icon
{
    font-size: 100px;

    color: #00BCD4;
}
.reason_text h4
{
    font-weight: 500;
}
.reason_text p
{
    color: #727272;
}

/* #5 How We Work */
.howwework
{
    padding-bottom: 40px;
    /*border-bottom: white 3px solid;*/
    background-color: #B2EBF2;
}
.howwework .col-md-3
{
    text-align: center;
}


.howwework p
{
    color: #727272;
}

/* #6 Testimonials */
.testimonials
{
    padding-top: 40px;
    padding-bottom: 60px;

    text-align: center;

    color: white;
    background-color: #0097A7;
}
.tst_caption
{
    font-size: 50px;

    padding-bottom: 20px;

    text-shadow: 1px 1px 1px gray;
}

.quote-text
{
    font-size: 25px;

    min-height: 105px;
}

/* #7 About */

.about img {
	padding: 40px 0;
}

.about p {
    color:#727272;
}

/* #8 Team */
.team
{
    padding-bottom: 40px;

    background: #eff3f6;
}

.team img
{
    position: relative;

    display: inline-block;
    float: left;

    height: auto;
    margin-top: 50px;

    border: 5px solid #fff;
    border-radius: 100%;
    width: 250px;
}

.author_text
{
    position: relative;

    display: inline-block;

    max-width: 270px;
    margin-left: 20px;

    text-align: left;

    color: #727272;
}

.author_text small
{
    font-size: 14px;

    color: #00BCD4;
}

.author_text p {
    min-height: 220px;  
}
.cont {
	font-size: 40px;
	color: #00BCD4;
	border-radius: 50%;
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	background: white;
}
.cont:hover {
    color: #e82b68;
}

/* #9 Map */

.map
{
    padding-top: 40px;
    padding-bottom: 40px;

    color: #fff;
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 1) ), url('../i/bg-map.jpg') fixed no-repeat;
    background-size: cover;
}

.map h3
{
    color: #fff;
}

.map iframe
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 300px;
    margin-top: 20px;

    text-align: left;
}

.map iframe {
    border:0;
    frameborder:none;
}

/* #10 Footer */

.footer
{
    text-align: center;

    color: #00BCD4;
}

.social
{
    margin-left: -30px;
	margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
}
.lastcall {
    color: #e82b68;
}

.lastchance
{
    font-weight: 700;

    position: relative;

    display: inline-block;

    margin: 20px 0;
    padding: 20px 35px;

    text-align: center;
    text-decoration: none;

    color: #00BCD4;
    border: 2px solid #00BCD4;
    border-radius: 3px;
    background: #fff;
}
.lastchance:hover
{
    text-decoration: none;

    color: #fff;
    background: #00BCD4;
}

.copyright
{
    padding: 10px 0;
}

.social li
{
    font-size: 20px;
    line-height: 50px;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 0 10px;

    border-radius: 50%;
    background: #00BCD4;
}

.social li a
{
    color: #fff;
}

/* #11 Other */
.contactlist {
	list-style-type: none;
	  line-height: 34px;
}

.brandname {
	color: #e82b68;
	text-transform: uppercase;
	font-weight: 700;
}

.return {
	font-size: 16px;
	line-height: 32px;
	margin-top: 40px;
}

/* Adoptive Fix */
@media (max-width:450px){
    .logo {
        height: 45px;
    }
}
@media (min-width:451px){
    .logo {
        height: 45px;
    }    
}
@media (min-width:768px){
    .logo {
        height: 70px;
    }    
}
@media (min-width:992px){
    .logo {
        height: 70px;
    }    
}

@media (min-width:768px){

}
@media (min-width:768px)and(max-width:991px){
    
}
@media (min-width:992px) {}
@media (min-width:1200px){}


/* Countries */
.countries {
    padding-top: 40px;
    padding-bottom: 40px;
}

.countrycard {
    margin-bottom: 24px;
}


.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-pl.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-data-table {
    width: 100% !important;
}

.mdl-data-table {
    border: none !important;
}


.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    overflow:hidden;
}

.cardhead {
    height: 176px;
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-eu.jpg') center / cover;
    padding: 16px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Default Cards */
.hungary {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ), url('../i/bg-flag-hg.jpg');
    background-position: center;
    background-size: cover;
}
.greatbritain {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ), url('../i/bg-flag-gb.jpg') center / cover;
}
.greece {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ), url('../i/bg-flag-gr.jpg') center / cover;
}
.spain {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-sp.jpg') center / cover;
}
.lithuania {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-li.jpg') center / cover;
}
.netherlands {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-nl.jpg') center / cover;
}
.poland {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-pl.jpg') center / cover;
}
.slovakia {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-slk.jpg') center / cover;
}
.france {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-fr.jpg') center / cover;
}
.usa {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-us.jpg') center / cover;   
}
.canada {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-ca.jpg') center / cover;   
}
.china {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-ch.jpg') center / cover;
}
.australia {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-aust.jpg') center / cover;
}
.indonesia {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-ind.jpg') center / cover;   
}
.vienam {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-viet.jpg') center / cover;   
}
.uae {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-uae.jpg') center / cover;   
}
.southkorea {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-sk.jpg') center / cover;   
}
.morocco {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-mr.jpg') center / cover;   
}
.southafrica {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ),  url('../i/bg-flag-sa.jpg') center / cover;   
}
.other {
    background: linear-gradient( rgba(2, 3, 90, 0.8), rgba(0, 188, 212, 0.8) ), url('../i/bg-map-all.jpg') center / cover;   
}
    /* Hover Cards */
    .countrycard:hover .hungary {
        background-image: url('../i/bg-flag-hg.jpg');
    }
    .countrycard:hover .greatbritain {
        background: url('../i/bg-flag-gb.jpg') center / cover;
    }
    .countrycard:hover .greece {
        background: url('../i/bg-flag-gr.jpg') center / cover;
    }
    .countrycard:hover .spain {
        background: url('../i/bg-flag-sp.jpg') center / cover;
    }
    .countrycard:hover .lithuania {
        background: url('../i/bg-flag-li.jpg') center / cover;
    }
    .countrycard:hover .netherlands {
        background: url('../i/bg-flag-nl.jpg') center / cover;
    }
    .countrycard:hover .poland {
        background: url('../i/bg-flag-pl.jpg') center / cover;
    }
    .countrycard:hover .slovakia {
        background: url('../i/bg-flag-slk.jpg') center / cover;
    }
    .countrycard:hover .france {
        background: url('../i/bg-flag-fr.jpg') center / cover;
    }
    .countrycard:hover .usa {
        background: url('../i/bg-flag-us.jpg') center / cover;   
    }
    .countrycard:hover .canada {
        background: url('../i/bg-flag-ca.jpg') center / cover;   
    }
    .countrycard:hover .china {
        background: url('../i/bg-flag-ch.jpg') center / cover;   
    }
    .countrycard:hover .australia {
        background: url('../i/bg-flag-aust.jpg') center / cover;   
    }
    .countrycard:hover .indonesia {
        background: url('../i/bg-flag-ind.jpg') center / cover;   
    }
    .countrycard:hover .vienam {
        background: url('../i/bg-flag-viet.jpg') center / cover;   
    }
    .countrycard:hover .uae {
        background: url('../i/bg-flag-uae.jpg') center / cover;   
    }
    .countrycard:hover .southkorea {
        background: url('../i/bg-flag-sk.jpg') center / cover;   
    }
    .countrycard:hover .morocco {
        background: url('../i/bg-flag-mr.jpg') center / cover;   
    }
    .countrycard:hover .southafrica {
        background: url('../i/bg-flag-sa.jpg') center / cover;   
    }
    .countrycard:hover .other {
        background: url('../i/bg-map-all.jpg') center / cover;   
    }

    /* Card button hover */

    .countrycard:hover .cardaction a {
        border-radius: 2px;
        background-color:#e82b68;
        color:#fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        -webkit-transition: all ease-out 0.5s;
        -moz-transition: all ease-out 0.5s;
        -o-transition: all ease-out 0.5s;
        transition: all ease-out 0.5s;
    }
    
    .cardhead h3 {
        color: #fff !important;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        line-height: normal;
        text-transform: uppercase;
        font-size: 38px;
    }

.cardcontent {
    margin: 24px;
    min-height: 225px;
}

/*.cardtable>tbody>tr>td:first-child,
.cardtable>thead>tr>th:first-child {
    padding-left: 24px !important;
}*/

.cardtable>thead>tr>th {
    border-bottom: none;
}

.cardaction {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,.1);
}
    .cardaction a {
        color: #e82b68;
        text-transform: uppercase;
        line-height: 36px;
        margin-left: 16px;
        margin-right: 16px;
        background: 0 0;
        border: none;
        border-radius: 2px;
        height: 36px;
        min-width: 64px;
        padding: 0 16px;
        display: inline-block;
        letter-spacing: 0;
        overflow: hidden;
    }

.showmore {
    color: #00BCD4;
}

.service {
    text-align: center;
    padding-bottom: 20px;
}