<div class="container-fluid header">
  <div class="container">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if page.url == "/index.html" %}
          <img class="navbar-brand logo" src="public/i/logo.png" alt="Make-My-Visa логотип">
          {% else %}
          <a class="navbar-brand" href="/"><img class="logo" src="public/i/logo.png" alt="Make-My-Visa логотип"></a>
          {% endif %}
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right contacts">
            <li class="textitem address hidden-sm visible-md visible-lg">Киев, ул. Гетьмана 27, офис 8</li>
            <li class="textitem phone">+38 (098) 065-87-89</li>
            <li class="iconitem"><a class="fa fa-facebook" href="{{ site.facebook }}" target="_blank"></a></li>
            <li class="iconitem"><a class="fa fa-vk" href="{{ site.vk }}" target="_blank"></a></li>
            <li class="iconitem"><a class="fa fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </header>
  </div>
</div>