<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-572RHW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-572RHW');</script>
<!-- End Google Tag Manager -->

<div class="container header">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if page.url == "/index.html" %}
        <img class="logo" src="public/i/logo.png" alt="Make-My-Visa логотип">
        {% else %}
        <a href="/"><img class="logo" src="public/i/logo.png" alt="Make-My-Visa логотип"></a>
        {% endif %}
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right contacts">
          <li class="textitem address">Киев, ул. Гетьмана 27, офис 8</li>
          <li class="textitem phone">+38 (098) 065-87-89</li>

          <li class="iconitem"><a class="fa fa-facebook" href="{{ site.facebook }}" target="_blank"></a></li>
          <li class="iconitem"><a class="fa fa-vk" href="{{ site.vk }}" target="_blank"></a></li>
          <li class="iconitem"><a class="fa fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </header>
</div>