<div class="container header">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo" src="public/i/makemyvisa-logo-214x54.png" alt="Make-My-Visa логотип">
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right contacts">
          <!-- li class="textitem address">Киев, Улицевная, 34, оф. 101</li -->
          <li class="textitem phone">+38 (098) 065-87-89</li>

          <li class="iconitem"><a class="fa fa-facebook" href="https://www.facebook.com/pages/MAKE-MY-VISA" target="_blank"></a></li>
          <li class="iconitem"><a class="fa fa-vk" href="https://vk.com/club94548539" target="_blank"></a></li>
          <li class="iconitem"><a class="fa fa-envelope-o" href="mailto:visa@make-my-visa.com.ua"></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </header>
</div>